* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
}
.flex, ul{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
    position: relative;
}
header{
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: orangered;
    margin-bottom: 40px;
}
#img-logo{
    height: 32px;
    width: 134px;
}

a{
    color: white;
}
.row-one{
    width: 650px;
    height: 380px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.first{
    height: 300px;
    width: 100%; 
    position: relative;
}
img{
    height: 100%;
}

footer{
    height: 62px;
    background-color: #1A1A1A;
    border-bottom: 1px solid white;
}

.price{
    color: red;
    font-weight: 900;
}

.line{
    text-decoration: line-through;
}

.icon{
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    font-size: 20px;
    background-color: transparent;
}

.icon:hover{
    cursor: pointer;
    color: red;
}

.discount, .label, .label-6{
    position: absolute;
    bottom: 20px;
    padding: 0px 10px;
    color: white;
    font-weight: 600;
}
.discount{
    background-color: red;
}

.label{
    background-color: green;
    left: 60px;
}
.label-6{
    background-color: green;
    left: 0;
}