/*
--------------
    RESET
--------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    border: none;
    font-family: sans-serif;
}
/*
--------------
    COMMON
--------------
*/
.flex, ul{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}
/*
--------------
    HEADER
--------------
*/
header{
    height: 70px;
    background-color: orangered;
    margin-bottom: 40px;
    position: sticky;
    top: 0;

}
#img-logo{
    width: 134px;
}

a{
    color: white;
}
/*
--------------
    MAIN
--------------
*/
.row-one{
    width: 650px;
    height: 380px;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.first{
    height: 300px;
    width: 100%; 
    position: relative;
}
img{
    height: 100%;
}

.price{
    color: red;
    font-weight: 900;
}

.line{
    text-decoration: line-through;
}

.icon{
    position: absolute;
    top: 10px;
    right: 20px;
    color: black;
    font-size: 20px;
    background-color: transparent;
}

.icon:hover{
    cursor: pointer;
    color: red;
}

.discount, .label, .label-6{
    position: absolute;
    bottom: 20px;
    padding: 0px 10px;
    color: white;
    font-weight: 600;
}
.discount{
    background-color: red;
}

.label{
    background-color: green;
    left: 60px;
}
.label-6{
    background-color: green;
    left: 0;
}
/*
-----------------------
   HOVER CHANGE IMAGE
-----------------------
*/
.changeimage{
    display: block;
}

.change{
    display: none;
}

.first:hover .changeimage{
    display: none;
}

.first:hover .change{
    display: block;
}
/*
--------------
    FOOTER
--------------
*/
footer{
    color: white;
    height: 100px;
    background-color: #1A1A1A;
    border-bottom: 2px solid white;
}

.foot{
    height: 70%;
    width: 50%;
    margin: auto;
    padding-top: 20px;
}